<div class="container">
  <div class="header">  
    <div class="left">
      <img [src]=imglogo alt="logo" class="logo"/>
    </div>
    <div class="middle">
      <input type="text" placeholder="Search">
    </div>
    <div class="right">
      <div class="dropdown">
        <button class="dropbtn">Welcome Dendup 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </div> 
    </div>
  </div>

  <div class="maincontainer">
    <div class="sidebar">
        <a  >Dashboard</a>
        <a >User Profile</a>
        <a class="active" >View Challenge</a>
        <a >Table</a>
     
    </div>
  <div class="Dashboard-view">
    <div class="head">
  <h2>Welcome to admin panel</h2>
      
    </div>

    <div class="main">
        <div class="item1">
          <h3> User Register</h3>
          <span class="no">50</span>
        
        </div>
        <div class="item2">
          <h3>Active user</h3>
          <span class="no">30</span>
        
        </div>
        <div class="item3">
          <h3> member logout</h3>
          <span class="no">20</span>
        </div>
        <div class="item4">
          <h3>  Message</h3>
          <span class="no">11</span>
         </div>

    </div>
    <div class="footer">
      <table class="userview">
        <tr>
          <th>#</th>
          <th>USER</th>
          <th>REMAINING TIME</th>
          <th>COMPLETE / INCOMPLETE</th>
          <th>LOCATION</th>
          <th>ACTIVE / INACTICE</th>
          <th>COMPETE TIME</th>
          <th>MARKS</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Pema Dorji</td>
          <td>01 : 20: 09</td>
          <td>INCOMPLETE</td>
          <td>Kanglung</td>
          <td>ACTIVE</td>
          <td>02 : 30 : 15</td>
          <td>00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bhakti Man</td>
          <td>01 : 20: 09</td>
          <td>INCOMPLETE</td>
          <td>CST</td>
          <td>ACTIVE</td>
          <td>02 : 30 : 09</td>
          <td>00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Palman Ghalley</td>
          <td>00 : 00 : 00</td>
          <td>COMPLETE</td>
          <td>Kanglung</td>
          <td>INACTIVE</td>
          <td>02 : 30 : 09</td>
          <td>90</td>
        </tr>
        <tr>
          <td>4</td>
          <td> Dorji</td>
          <td>00 : 00 : 00</td>
          <td>COMPLETE</td>
          <td>GCIT</td>
          <td>INACTIVE</td>
          <td>01 : 20: 09</td>
          <td>60</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Pema </td>
          <td>02 : 20: 09</td>
          <td>INCOMPLETE</td>
          <td>Thimphu</td>
          <td>ACTIVE</td>
          <td>02 : 58: 09</td>
          <td>00</td>
        </tr>
      </table>
        </div>
  </div>
 




  </div>
</div>