<div class="container">
  
    <div class="nav">
        <div class="left">
          <img [src]=imglogo alt="logo" class="logo">
        </div>
        <div class="middle">
          <a class="item">Industries</a>
          <a class="item">Online Recuritement</a>
          <a class="item">Contact us</a>
        </div>
      </div>

    <div class="main">
    <span class="head1">Login!</span>
            <form action="#" method="post">
                <input type="email" placeholder="email">
                <input type="password" placeholder="password">
                <button  type="submit" (click)=loginPage()>Login</button> <br>
                <span class=head2> <b> Note:</b>  You can only log in once and your "3 Hours" timer will start. <br>
                    We will not entertain any personal reasons to reset the timer. 
                  <br> You can use any language you are comfortable with.</span>
            </form>
    </div>
    <div class="footer">
      Copyrights &copy; 2020 All Rights Reserved by SELISE
      Portfolio / Support
      </div>
</div>


