
 <div class="contaioner">

    <div class="nav">
      <div class="left">
        <img [src]=imglogo alt="logo" class="logo">
      </div>
      <div class="middle">
        <a class="item">Industries</a>
        <a class="item" (click)=admin() >Admin</a>
        <a class="item active" >Online Recuritement</a>
        <a href="#contact" class="item">Contact us</a>

      </div>

      <div class="right">
      <a (click)=clickme()> Login</a>
      </div>
    </div>

    <div class="pagination">
            <h1>ONLINE RECURITMENT portal.</h1>
            <h3> Let <i>SELISE </i>ignite the creative passion in you.</h3>
            <h4>Registration for online recuritement  is open from<br>
            <i> May 21,08:00 AM </i> till <i> 29,11:49 PM </i></h4>
            <i><h1>HuRRy Up to register!!</h1></i>
             <button  (click)=toRegister()>Register now!</button>  
                  
             
                <h2 class="ch2">VACCENCY FOR 20 
                <b>AWOSOME</b>  
                DEVELOPERS.</h2>
      </div>

      <div class="main">
            <h1>Instruction</h1>
          <ul> 
          <span class="head1"> A pint of a hint!</span>
            <li>All the questions will be based on problem-solving.</li>
            <li>You can use any language you are comfortable with. </li>
            <li>Select from the list or other languages (if others, specify within comments).</li>
          </ul>
           
          <ul>  <span class="head1">THREE GUIDE LINES:</span><br>
            <span class="head1">1. One-time login</span>
                <li>You can only log in once and your "3 Hours" timer will start.</li>
                <li>We will not entertain any personal reasons to reset the timer.</li>
              </ul>
              <ul>
                <span class="head1">2. No Plagiarism</span>
                  <li>If you have copied from online without any understanding, you will be blacklisted.</li>
                  <li>If you and your friend have submitted the same code by any chance, both of you will be blacklisted.</li>
              </ul>
           <ul>
             <span  class="head1">3. Last submit will be finalized</span>
                <li>Within 3 hours, you can submit codes multiple times but the LAST SUBMIT will be taken as the FINAL CODE.</li>
              </ul>
              <hr>
              
              <div class="selise">
                <div class="title">   <h2>SELISE</h2></div>
             <div class="content">
              
              <p>SELISE is a software firm engaged in the creation of digital platforms from strategy to execution.
                Our understanding of information technology and the internet helps us enhance business 
               performance across industries. We serve insurers, retailers, telcos,
                advisors, sport clubs, civil engineers and many more.</p>
             </div>
             
              <div class="details"> 
                
              <div>
                120     <br>                     
                Customer          
              </div>
                   <div>90 <br>
                     Countries</div>
                   <div> 200   <br> Applications</div>
                   <div>
                     300 <br> Employee

                   </div>
              
               
                          </div>
              </div>

            <div class="contact" id="contact">
              <h1>Contact Us</h1>
              <form name="contact-form" action="" method="">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email">
                <textarea name="message"  placeholder="How can SELISE help you?"></textarea><br><br>
                <input type="submit" value="Submit">
      
              </form>
            </div>
      </div>


     <div class="footer">
     
      Copyrights &copy; 2020 All Rights Reserved by SELISE
Portfolio / Support
    </div>

 </div>
 
    
